@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  outline: none;
}

body {
  color: #f5f6fa;
  background: #1f1f1f;
  font-family: 'Roboto', sans-serif;
}

body header {
  margin-bottom: 60px;
}

body main > * {
  margin-bottom: 60px;
}

#play-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 36%;
  margin-right: 36%;
}

#score-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36%;
  margin-right: 36%;
}

#score-box div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 300;
}

#score-box div:nth-of-type(2) span {
  margin: 7px 10px;
}

#rounds-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 36%;
  margin-right: 36%;
  padding: 20px;
}

#rounds-box p {
  font-size: 1.75rem;
  margin-bottom: 40px;
}

#rounds-box form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#rounds-box form div div:nth-child(2) {
  margin-bottom: 30px;
}

#rounds-box form div input {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 6px;
  margin-right: 18px;
}

#rounds-box form div label {
  font-size: 1.75rem;
}

#rounds-box form div label[for=five] {
  padding-left: 14px;
}

header {
  background: #f5f6fa;
  color: #1f1f1f;
  font-weight: 300;
  font-size: 3rem;
  padding: 12px 0;
  margin-bottom: 50px;
}

header, #rounds-box, h3#msg, small, #move, footer {
  text-align: center;
}

#rounds-box, #score-box {
  border: 4px solid #f5f6fa;
  border-radius: 4px;
}

#score-box {
  padding: 30px;
  position: relative;
}

.user {
  position: absolute;
  top: 43px;
  left: -35px;
  background: #ff616b;
  padding: 14px;
}

.comp {
  position: absolute;
  top: 43px;
  right: -35px;
  background: #ff616b;
  padding: 14px;
}

i {
  border: 2px solid #f5f6fa;
  border-radius: 50%;
  padding: 30px;
  margin: 8px;
  font-size: 2.5rem;
}

a {
  color: #d07849;
}

#msg {
  font-size: 2.5rem;
  font-weight: 300;
}

.round {
  font-size: 3rem;
}

.icon-btn {
  background: transparent;
  cursor: pointer;
}

.icon-btn--orange:active {
  opacity: 0.5;
}

.icon-btn--red:active {
  background: #ff616b;
  opacity: 0.5;
}

.icon-btn--green:active {
  background: lime;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */